.dash-container {
    display: flex;
    flex-direction: column;
}

.dash-title {
    display: flex;
    align-self: center;
}

.dash-contents {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.order-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: blue; */
}

th {
    text-align: center;
}

td {
    text-align: center;
}

table {
    min-width: 500px;
}

#faux-link {
    background: none!important;
    border: none;
    padding: 0!important;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

.inventory-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* background-color: green; */
}

.scroll {
    width: 500px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}

.order-details {
    display: flex;
    flex-direction: row;
}