.userType {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.switch {
    margin-left: 20px;
    margin-bottom: 0.5rem;
}

.verify-seller {
    margin-left: 20px;
}

.auth-form { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.not-a-user {
    margin-top: 2rem;
}

.btn-primary {
    margin-top: 2rem;
}