h1 {
    text-align: center;
}

#shopFilter {
    margin: 20px;
}
.btn-primary:focus, .btn-secondary:focus, input:focus{
  outline:none;
}




.btn-primary, .btn-secondary, input {
    margin-top: 5px;
    background-color: white;
    color: #FF2273;
    font-family: 'Bungee', cursive;
    font-weight:light;
    border: 2px solid #FF2273;
    border-radius: 5px;
 



  
  }

  
  .btn-primary:hover, .btn-secondary:hover {

    background-color: #FF2273;
    color: white;
    border: 2px solid #FF2273;
  
  }
  
  .btn-primary:disabled, .btn-secondary:disabled {
    margin-top: 5px;
    background-color: grey;
    color: white;
    border: 2px solid grey;
    border-radius: 5px;
    opacity: 0.4;

  }



  .button-container {

    display: flex;
    /* flex-direction: row; */
    align-items: center;


  }
  
  .numInput:disabled{
    background-color: grey;
    color: white;
    border: 2px solid grey;
    border-radius: 5px;
    opacity: 0.4;

}

.filter-container{

display: flex;
justify-content: center;
margin-bottom: 30px;
}


#addToCart{
  background-color: #00BFC3;
  color: white;
  border: 2px solid #00BFC3;

  WIDTH: 94PX;
  font-size: 13px;
  padding: 8px;


}

.quantityCounter > .btn, .quantityCounter > .numInput{

  display: flex;
  align-items: center;
  height: 33px;
  margin: 0 4px 0 0;
  
}

/* 
.btn-primary{
  background-color: #00BFC3;
  color: white;
  border: 2px solid #00BFC3;
} */

.card-title {

  text-overflow: ellipsis;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.productCard{
  filter: drop-shadow(0 2mm 2mm rgb(173, 173, 173, 0.3));
}



.product-body{
  margin-top: 40px;
}

