/* .imageHover{
    
    cursor: pointer;

}

.modal-90w{
    width: 90%;
    max-width: none !important;

}

input{
    height: 20px;
} */

.card-title {
    font-weight: bold;
    color: black;
}

.card-text {
    font-weight: bold;
}
